# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# ignore notebook checkpoints
.ipynb_checkpoints

.virtual_documents

# ignore vscode settings
.vscode




*.mat


#ignore
thoughts.py
